# Portfolio Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_USERNAME=votre-username
NEXT_PUBLIC_LINKEDIN_URL=https://linkedin.com/in/votre-profil
NEXT_PUBLIC_EMAIL=votre.email@example.com
NEXT_PUBLIC_WHATSAPP=+226XXXXXXXX
